<div class="container-fluid shell" ng-cloak ng-controller="GameController">
  <div class="row header">
    <div><a href='/'><img src="/img/logo-white.png"></a></div>
    <div class="search-friends" ng-if="currentUser">
      <input type="text" name="" placeholder="Search people">
    </div>
    <div ng-if="currentUser">
      <div class="user-control" ng-repeat="player in game.players" ng-show="isPlayer($index)">
        <div class="invite">
        </div>
        <div class="notification">
          <i class="fa fa-globe"></i>
          <div class="list not-list">
            <ul>
              <li>friend request</li>
              <li>Friend request</li>
            </ul>
          </div>
        </div>
        <div class="profile">
          <div class="profile-name">
            <span>{{player.username}}</span>
          </div>
          <div class="profile-avatar">
            <img ng-src="{{player.avatar}}"/>
          </div>
          <div class="menu">
            <ul>
              <li><a href='/'><i class="fa fa-home"></i> Home</a></li>
              <li ng-click="abandonGame()"><i class="fa fa-close"></i> Abandon Game</li>
              <li ng-click="viewGameHistory()"><i class="fa fa-gamepad"></i> Game History</li>
              <li><a href="/signout"><i class="fa fa-sign-out"></i> Sign Out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="!currentUser">
      <div class="user-control">
        <button type="button" class="invite-btn abandon-na" data-toggle="tooltip" title="Quit this game" data-placement="bottom" ng-click="abandonGame()">Abandon Game</button>
      </div>
    </div>
  </div>
  <div class="row main">
    <div class="col-xs-10 card-deck">
      <div class="row question-board">
        <div class="col-xs-3 timer" >
          <timer></timer>
        </div>
        <div class="col-xs-9 question-panel">
          <question></question>
        </div>
      </div>
      <answers></answers>
    </div>
    <div class="col-xs-2 player-list">
    <player></player>
    </div>
  </div>
  <div ng-include="'./views/search-pop-up.html'"></div>
  <div ng-include="'./views/save-game.html'"></div>
</div>
