<div class="chat" ng-controller="ChatCtrl">
  <div class="chat">
    <div ng-click="showChat()" class="chat-head">
      <p>Banasko chat!</p>
    </div>
    <div id="main-chat">
      <div class="chat-body" id="chat-body">
        <div class="message" ng-class="{ 'left' : isUser(chat.username), 'right': !isUser(chat.username)  }" ng-repeat="chat in chats.messages">
          <div class="img">
            <img src="{{  chat.avatar }}" alt="" />
          </div>
          <div class="content">
            <span> </span>
            <h4>{{ chat.username }}</h4>
            <p ng-bind-html="parser(chat.message)"></p>
          </div>
        </div>
      </div>
      <form >
        <div class="chat-box">
          <input id="chat-form"></input>
        </div>
      </form>
    </div>
  </div>
</div>