<!-- Loading players -->
<div class="loading-players" ng-show="game.state === 'awaiting players'">
  <div class="loading">
    <div class="loader-img"><img class="loader-land" src="/img/default.svg"></div>
    <div class="text">Finding Players</div>
    <div class="found">{{game.players.length}}/12</div>
  </div>
  <button type="button" class="btn btn-primary" ng-click="startGame()">Start Game</button>
</div>
<!-- Game questions -->
<div ng-hide="game.state === 'game ended' || game.state === 'game dissolved' || game.state === 'awaiting players'">
  <div class="game-question">
    <div class="question-label"><i class="fa fa-pencil fa-2x"></i></div>
    <div class="question">
      <span  ng-bind-html-unsafe="game.curQuestion.text"></span>
    </div>
    <div id="notifications" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}"> {{game.notification}} </div>
  </div>
</div>
          <!-- Game over -->
<div>
  <div class="gameover" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
    <div class="game-end-headline">What the!? The game ended because too many people left! <br> Our sincere apologies.
    </div>
    <div>
      <a href='/play?custom'><button ng-if="currentUser" type="button" class="btn btn-success">Start a new game</button></a>
      <a href='/#!/app'><button type="button" class="btn btn-primary" ng-click="game.joinGame('joinNewGame')">Join a game</button></a>
    </div>
  </div>
  <div ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
    <div class="game-end-headline">Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!</div>
  </div>
  <div class="gameover" ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
    <div class="question-label">
      <i class="fa fa-shield fa-2x"></i>
    </div>
    <div class="winner">
      <div>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
      {{game.players[game.playerIndex].username | upperFirstLetter}} WINS!!!
      <div>
        <a href='/play?custom'>
          <button ng-if="currentUser" type="button" class="btn btn-success">Start a new game</button>
        </a>
        <a href='/#!/app'>
          <button type="button" class="btn btn-primary" ng-click="game.joinGame('joinNewGame')">Join a game</button>
        </a>
      </div>
    </div>
  </div>
</div>
