<div class="container-fluid" style="background: white; height: 100%;">
  <div class="row signup-form-holder">
    <div class="signup-form-img"><img src="img/logo-blue.png"></div>
    <div class="title">Sign up to continue</div>
    <div class="signup-form">
      <!--<div ng-if="message" class="alert alert-danger"> {{ message }}</div>-->
      <form action="/users" method="post">
        <div class="form-group">
          <input type="text" placeholder="Fullname" name="name" class="form-control" required novalidate>
          <input type="text" placeholder="Username" name="username" class="form-control" required novalidate>
          <input name="email" id="email" type="text" placeholder="Email Address"  class="form-control" required
            novalidate>
          <input name="password" id="password" type="password" placeholder="Password" class="form-control"
            required novalidate>
          <div class="avatar">Select an Avatar</div>
          <div class="radio-btn" ng-controller="IndexController">
            <label ng-repeat="avatar in avatars">
            <input type="radio" name="avatar" value="{{$index}}">
            <img src="{{avatar}}">            
          </label>
          </div>
          <button id="sign-up-btn-other" type="submit" class="btn btn-primary">SIGN UP</button>
        </div>
      </form>
    </div>
    <div class="option">or Signup via social</div>
    <div class="social-signup">
      <a href="/auth/facebook">
        <div class="social fb"><i class="fa fa-facebook fa-2x"></i></div>
      </a>
      <a href="/auth/twitter">
        <div class="social tt"><i class="fa fa-twitter fa-2x"></i></div>
      </a>
      <a href="/auth/github">
        <div class="social git"><i class="fa fa-github fa-2x"></i></div>
      </a>
      <a href="/auth/google">
        <div class="social googl"><i class="fa fa-google fa-2x"></i></div>
      </a>
    </div>
  </div>
  <div class="base-link">
    <span><a href="#!/">Home</a></span>
    | Already have an account? 
    <span><a href="#!/signin">Sign in</a></span>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>