<div class="container-fluid" ng-controller="Auth">
  <div class="row signup-form-holder">
    <div class="signup-form-img"><img src="img/logo-blue.png"></div>
    <div class="title">Sign in to continue</div>
    <div class="signup-form">
      <!--<div ng-show="showError() === 'invalid'">
        Invalid username or password.
      </div>-->
      <form ng-submit="signin()">
        <div class="form-group">
          <input name="email" id="email" type="text" placeholder="Email Address" ng-model="signinUser.email" class="form-control" required
            novalidate>
          <input name="password" id="password" type="password" placeholder="Password" ng-model="signinUser.password" class="form-control"
            required novalidate>
          <button id="sign-up-btn-other" type="submit" ng-click="signin()" class="btn btn-primary">SIGN IN</button>
        </div>
      </form>
    </div>
    <div class="option">or Signin via social</div>
    <div class="social-signup">
      <a href="/auth/facebook">
        <div class="social fb"><i class="fa fa-facebook fa-2x"></i></div>
      </a>
      <a href="/auth/twitter">
        <div class="social tt"><i class="fa fa-twitter fa-2x"></i></div>
      </a>
      <a href="/auth/github">
        <div class="social git"><i class="fa fa-github fa-2x"></i></div>
      </a>
      <a href="/auth/google">
        <div class="social googl"><i class="fa fa-google fa-2x"></i></div>
      </a>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>