@import 'reset';
@import 'color';
@import 'breakpoints';
@import 'mixins';

// HEADER

.header {
  height: 50px;
  width: 100%;
  font-size: .9em;
  color: $ft-dark;
  text-align: center;

  @include device(tabs) {
    height: 50px;
  }

  @include device(desktops) {
    height: 80px;
    width: 100%;
  }

}

.logo {
  height: 50px;
  width: 100px;
  position: absolute;
  left: 20px;
  top: 5px;

  @include device(tabs) {
    padding: 0;
  }

  @include device(desktops) {
    height: 80px;
    padding-top: 10px;
  }

  img {
    height: 42px;
    width: auto;
    margin-left: 100px;
  }

}

// NAVIGATION

nav {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.5em;
}

/* mobile first */

.nav {
  text-align: left;
  display: none;
}

.nav > li {
  display: block;
}

.nav > li a {
  text-decoration: none;
  color: $ft-dark;
  display: block;
  height: 50px;
  width: 100%;
  padding-top: 15px;
}

.nav > li a:hover {
  display: block;
  color: $white;
  background: $primary-blue !important;
}

.nav-btn {
  display:block;
  cursor: pointer;
  text-align: right;
  height: 50px;
  padding: 10px 15px;
  color: #e0e0e0;
}

.nav-btn:hover {
  color: $primary-blue;
}

/* desktop */

@include device(desktops) {
  nav {
    background: white;
    width: 100%;
    height: 80px;
  }

  .nav {
    height: inherit;
    text-decoration: none;
    color: black;
    margin: 0;
    list-style: none;
    float: right;
    display: block;
    background: white;
  }

  .nav > li { display: inline; float: left;}

  .nav > li > a {
    text-align: center;
    width: 100px;
    height: 80px;
    display: block;
    text-decoration: none;
    color: #282828;
    padding-top: 30px !important;
  }

  .nav-btn {
    display: none;
  }

}

// HERO BACKGROUND

.hero-bg {
  display: flex;
  align-items: center;
  height: 500px;
  width: 100%;
  background: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @include device(tabs) {}

  @include device(desktops) {
    height: 600px;
  }
}

.hero-title {
  height: 230px;
  width: 100%;
  padding: 0;
  color: $white;
  text-align: center;

  @include device(desktop) {
    height: 300px;
  }

  span.cfh {
    display: block;
    width: 100%;
    height: 80px;
    font-size: 10rem;
    font-weight: bold;
    line-height: 7rem;

    @include device(desktops) {
      font-size: 14rem;
      line-height: 5rem;
    }

  }

  span.cfh-full {
    font-size: 2.5rem;
    display: block;

    @include device(desktops) {
      font-size: 5rem;
      line-height: 6rem;
    }

  }

  span.subtitle {
    font-size: 1.5rem;
    width: 70%;
    display: block;

    @include device(desktops) {
      font-size: 2rem;
    }
  }

  .play-btn {
    color: $primary-blue;
  }

}

// INTRO

.intro {

  width: 100%;
  padding-top: 50px;
  border-bottom: 1px solid $card-color;

  @include device(tabs) {
    padding-bottom: 50px;
    max-width: 800px;
  }

  @include device(desktops) {
    padding: 80px 0 80px 0;
    width: 1200px;
  }

  .intro-left {
    height: 280px;
    width: 100%;
    color: $ft-dark;
    text-align: center;
    padding: 0 20px 0 20px;
    /*background: red;*/

    @include device(tabs) {
      width: 50%;
      text-align: left;
      max-height: 280px;
      padding: 0 50px 0 0;
      font-size: .9em;
    }

    @include device(desktops) {
      width: 50%;
      text-align: left;
      height: 390px;
      padding: 50px 50px 50px 0;
    }

    span {
      line-height: 1.6em;
      font-size: 1.7rem;
      font-weight: 300;
      display: block;
      margin-top: 20px !important;
      color: #3b3b3b;

      @include device(desktops) {
        font-size: 2rem;
        padding-right: 30px;
      }

    }

    .next-btn {
      @include border-radius(50%);
      width: 35px;
      height: 35px;
      padding-top: 8px;
      border: 2px solid $btn-grey-border;
      position: relative;
      top: 15px;

      @include device(tabs) {
        text-align: center;
      }

      @include device(desktops) {
        text-align: center;
        top: 30px;
      }

      i { font-size: 1.5em; color: $btn-grey-border}

    }

  }

  .video-plug {
    height: 280px;
    width: 100%;

    @include device(tabs) {
      width: 50%;
      height: 250px;
      padding: 0;
    }

    @include device(desktops) {
      height: 390px;
      width: 50%;
      padding: 0;
    }

    video {
      height: 250px;
      width: 100%;

      @include device(tabs) {
        width: 100%;
        position: relative;
        top: -10px;
      }

      @include device(desktops) {
        height: 390px;
      }
    }
  }

}

// GAMEPLAY

.gameplay {
	width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  @include device(tabs) {
    padding: 50px 0;
  }

  @include device(desktops) {
    padding-top: 80px;
    padding-bottom: 50px;
  }

}

.block-title {
  height: 50px;
  /*background: red;*/

  @include device(tabs) {
    height: 70px;
  }

  @include device(desktops) {
    height: 80px;
    /*background: red;*/
  }

  h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
  }
}

.card-holder {
  text-align: center;

  @include device(tabs) {
    max-width: 800px;
    margin-bottom: 20px !important;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    /*background: red;*/
  }

  @include device(desktops) {
    padding: 0;
    display: -webkit-flex;
    max-width: 1200px;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    margin-bottom: 40px !important;
  }

  .card {
    height: 300px;
    width: 270px;
    padding-top: 50px;
    margin-bottom: 20px !important;
    background: $card-color;
    @include border-radius(10px);


    @include device(tabs) {
      height: 300px;
      width: 350px;
      padding-top: 30px;
      margin: 10px !important;
    }

    @include device(desktops) {
      height: 400px;
      padding-top: 100px;
      margin: 0 !important;
    }

    .card-img {
      height: 62px;
      width: 62px;
      background: url("../img/logo-blue.png");
    }

    span {
      display: block;
      width: 80%;
      font-size: 2rem;
      padding-top: 10px;

      @include device(tabs) {
        font-size: 1.5rem;
        font-weight: normal;
      }

      @include device(desktops) {
        font-size: 1.9rem;
        font-weight: normal;
      }
    }
  }

  .card:hover {
    background: $primary-blue;
    color: $white;
    cursor: pointer;
  }

  .card:hover .card-img {
    background: url("../img/logo-white.png");
  }

}

.signup-btn {
  color: $white;
}

.signup-btn ~span {
  @include device(tabs) {
    position: relative;
    top: 80px;
  }
}

// CHARITY

.charity {
  width: 100%;
  padding: 30px 0;
  background: $primary-orange;
  text-align: center;
  color: $white;

  .charity-content {
    max-width: 100%;
    font-size: 1.5rem;
    font-weight: lighter;
    padding: 0 20px;

    @include device(tabs){
      max-width: 800px;
    }

    @include device(desktops) {
      max-width: 700px;
    }
  }

  span {
    display: block;
    font-size: 1.3em;
    font-size: 1.2em;
    padding-top: 20px;

  }

  .donate-btn {
    height: 55px;
    width: 215px;
    @include border-radius(50px);
    border: 2px solid $white;
    background: $white;
  }

}

// FOOTER

.footer {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  font-size: 1.5em;

  .legal {
    span {
      display: block;
      width: 80%;
      padding-bottom: 20px;
      margin-bottom: 20px !important;
      border-bottom: 1px solid $card-color;
      color: #000;
    }
  }
}


// MODAL
.modal-content {
  height: 240px;
}

.close-btn {
  width: 100%;
  height:30px;
  padding:10px;
}

.modal-body {
  .title {
    height: 50px;
    width: 100%;
    text-align: center;

    p {
      font-size: 2rem;
    }
  }

  .body {
    .left, .right {
      width: 50%;
      text-align: center;

      span {
        display: block;
        width: 120px;
        margin-top: 15px !important;
      }
    }

    .left {
      float: left;
      border-right: 1px solid #f5f5f5;

      button {
        height: 50px;
        width: 120px;
        border-radius: 5px;
        background: $primary-blue;
        color: $white;
      }
    }

    .right {
      float: right;

      button {
        height: 50px;
        width: 120px;
        border-radius: 5px;
        background: $primary-orange;
        color: $white;
      }
    }
  }
}

@include device(tabs) {
  .modal-content {
    height: 280px;
  }

  .close-btn {
    width: 100%;
    height:30px;
    padding:10px;
  }

  .modal-body {
    .title {
      height: 70px;
      width: 100%;
      text-align: center;

      p {
        font-size: 2.5rem;
      }
    }

    .body {
      .left, .right {
        width: 50%;
        text-align: center;

        span {
          display: block;
          width: 200px;
          margin-top: 15px !important;
          font-size: 1.2rem;
          color: #6f6f6f;
        }
      }

      .left {
        float: left;
        border-right: 1px solid #f4f4f4;

        button {
          height: 55px;
          width: 215px;
          border-radius: 5px;
          background: $primary-blue;
          color: $white;
          font-size: 1.5rem;
        }
      }

      .right {
        float: right;

        button {
          height: 55px;
          width: 215px;
          border-radius: 5px;
          background: $primary-orange;
          color: $white;
          font-size: 1.5rem;
        }
      }
    }
  }
}

@include device(desktops) {
  .modal-content {
    height: 280px;
  }

  .close-btn {
    width: 100%;
    height:30px;
    padding:10px;
  }

  .modal-body {
    .title {
      height: 70px;
      width: 100%;
      text-align: center;

      p {
        font-size: 2.5rem;
      }
    }

    .body {
      .left, .right {
        width: 50%;
        text-align: center;

        span {
          display: block;
          width: 200px;
          margin-top: 15px !important;
          font-size: 1.2rem;
          color: #6f6f6f;
        }
      }

      .left {
        float: left;
        border-right: 1px solid #f4f4f4;

        button {
          height: 55px;
          width: 215px;
          border-radius: 5px;
          background: $primary-blue;
          color: $white;
          font-size: 1.5rem;
        }
      }

      .right {
        float: right;

        button {
          height: 55px;
          width: 215px;
          border-radius: 5px;
          background: $primary-orange;
          color: $white;
          font-size: 1.5rem;
        }
      }
    }
  }
}

// SIGN UP

.signup-form-holder {
  width: 100%;
  text-align: center;

  .signup-form-img {
    height: 80px;
    line-height: 80px;

    img {
      vertical-align: middle;
      height: 60px;
      width: auto;
    }
  }

  .title {
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
  }

  .signup-form {

    div {
      input[type=text], input[type=password], button {
        height: 40px;
        width: 90%;
        margin-bottom: 15px !important;
      }

      img {
        height: 40px;
        width: auto;
        margin-bottom: 10px !important;
      }
      .avatar {
        font-size: 1.5rem;
        height: 35px;
      }

      .radio-btn {
        padding: 0 10px;
      }
    }
  }

  .option {
    height: 50px;
    width: 90%;
    line-height: 50px;
    font-size: 2rem;
    border-bottom: 1px solid #e2e2e2;
  }

  .social-signup {
    height: 60px;
    width: 90%;
    display: flex;
    align-items: justify-content;
    padding-top: 20px;

    a {
        text-decoration: none;
        display: block; width: 20%;
    }

    .social {
      width: 100%;
      height: 40px;
      line-height: 40px;
      border-radius: 5px;
      float: left;

      i {
        vertical-align: middle;
        color: $white;
      }
    }

    .fb { background: #3b5998; }
    .tt { background: #1da1f2; }
    .git { background: #6cc644; }
    .googl { background: #dd4b39; }

    .fb:hover { background: #2d4475; }
    .tt:hover { background: #1886c9; }
    .git:hover { background: #59a337; }
    .googl:hover { background: #bf4030; }

  }
}

div.base-link {
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
    margin:0 auto;
    max-width: 300px;
    text-align: center;
 }

@include device(tabs) {
  .signup-form-holder {
    width: 400px;
  }
}

@include device(desktops) {
  .signup-form-holder {
    width: 400px;
  }
  
  div.base-link {
    height: 50px;
    line-height: 50px;
    font-size: 1.5rem;
 }
}